---
export async function getStaticPaths() {
  const pages = [
    {
      id: 'button',
      title: 'Button',
      description: "Permite al usuario interactuar con el sitio web.",
      about: 'Este componente se utiliza para llevar a cabo una acción en un sitio web.',
    },
    {
      id: 'badge',
      title: 'Badge',
      description: "Componente que muestra un valor en forma de etiqueta.",
      about: 'Este componente se utiliza para mostrar información relevante a los usuarios como etiquetas, íconos o botones.',
    },
    {
      id: 'header',
      title: 'Header',
      description: "Permite al usuario navegar por el sitio web.",
      about: 'Este componente se utiliza para que el usuario pueda navegar dentro del sitio a través de enlaces.',
    },
  ];
  return pages.map(({ id, title, description, about }) => {
    return {
      params: { id },
      props: { title, description, about },
    };
  });
}
const { id } = Astro.params
const { title, description, about } = Astro.props;

import LayoutComponents from '../../layouts/LayoutComponents.astro';
import FooterComponents from '../../components/FooterComponents.astro';

import ButtonComponent from '../../components/Buttons/ButtonComponent.astro';
import BadgeComponent from '../../components/Badges/BadgeComponent.astro';
---

<LayoutComponents title=`SunUI - ${title}`
description=''>

  <div class="p-4 sm:ml-64">
    <div class="space-y-4 mb-10">
      <h2 class="text-4xl md:text-6xl font-extrabold bg-clip-text text-transparent bg-gradient-to-tr from-orange-200 via-orange-400 to-orange-600 pb-4">{title}</h2>
      <span class="text-gray-300 text-md md:text-lg font-semibold pb-48">{description}</span>    
    </div>

    <div class="space-y-4 mb-10">
      <h2 class="text-white text-2xl font-semibold">Sobre el componente</h2>
      <p class="text-gray-300 font-medium text-md">{about}</p>
    </div>

    {id === 'button' && <ButtonComponent />}
    {id === 'badge' && <BadgeComponent />}

    <FooterComponents />
  </div>
</LayoutComponents>
