---
import Button from "./Button.jsx"
import CopyCode from "../CopyCode.astro"
---

<div class="w-full flex flex-col items-center justify-center space-y-4">
    <div class="w-full flex justify-center items-center space-x-2">
        <Button text="Rounded none" color="primary" rounded="none" />
        <Button text="Rounded sm" color="primary" rounded="sm" />
        <Button text="Rounded md" color="primary" rounded="md" />
        <Button text="Rounded lg" color="primary" rounded="lg" />
        <Button text="Rounded lg" color="primary" rounded="full" />
    </div>
    <div class="w-full">
        <CopyCode titleCode="src/index.html"
        textCode=`<Button text="Rounded none" color="primary" rounded="none" />
<Button text="Rounded sm" color="primary" rounded="sm" />
<Button text="Rounded md" color="primary" rounded="md" />
<Button text="Rounded lg" color="primary" rounded="lg" />
<Button text="Rounded lg" color="primary" rounded="full" />`/>
    </div>
</div>