---
import Button from "./Button.jsx"
import CopyCode from "../CopyCode.astro"
---

<div class="w-full flex flex-col items-center justify-center space-y-4">
    <div class="w-full flex justify-center items-center space-x-2">
        <Button text="Small" size="sm" />
        <Button text="Medium" size="md" />
        <Button text="Large" size="lg" />
        <Button text="Extra Large" size="xl" />
    </div>
    <div class="w-full">
        <CopyCode titleCode="src/index.html"
        textCode=`<Button text="Small" size="sm" />
<Button text="Medium" size="md" />
<Button text="Large" size="lg" />
<Button text="Extra Large" size="xl" />`/>
    </div>
</div>
