---
import GoogleSVG from "../icons/GoogleSVG.astro"
import FacebookSVG from "../icons/FacebookSVG.astro"
import GitHubSVG from "../icons/GitHubSVG.astro"
---

<div class="flex flex-row gap-x-4">
    <button class="inline-flex items-center justify-center gap-x-2 border-none bg-gray-100 text-sm font-medium text-black/80 px-4 py-2 rounded-lg hover:bg-gray-200 transition duration-300">
        <GoogleSVG class="size-5"/> Continue with Google
    </button>
    <button class="inline-flex items-center justify-center gap-x-2 border-none bg-blue-600 text-sm font-medium text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">
        <FacebookSVG class="size-6"/> Login with Facebook
    </button>
    <button class="inline-flex items-center justify-center gap-x-2 border-none bg-black text-sm font-medium text-white/80 px-4 py-2 rounded-lg">
        <GitHubSVG class="size-5"/> Login with GitHub
    </button>
</div>