---
import GoogleSVG from "../icons/GoogleSVG.astro"
import FacebookSVG from "../icons/FacebookSVG.astro"
import AppleSVG from "../icons/AppleSVG.astro"
import XboxSVG from "../icons/XboxSVG.astro"
import PlayStationSVG from "../icons/PlayStationSVG.astro"
import SteamSVG from "../icons/SteamSVG.astro"
---

<div class="flex flex-row gap-x-4">
    <button class="inline-flex items-center justify-center border-none bg-gray-100 px-10 py-4 rounded-lg hover:bg-gray-200 transition duration-300">
        <GoogleSVG class="size-7"/>
    </button>
    <button class="inline-flex items-center justify-center border-none bg-blue-500 px-10 py-4 rounded-lg hover:bg-blue-700 transition duration-300">
        <FacebookSVG class="size-7"/>
    </button>
    <button class="inline-flex items-center justify-center border-none bg-gray-100 px-10 py-4 rounded-lg hover:bg-gray-200 transition duration-300">
        <AppleSVG class="size-7"/>
    </button>
    <button class="inline-flex items-center justify-center border-none bg-[#107c10] px-10 py-4 rounded-lg hover:bg-[#106c00] transition duration-300">
        <XboxSVG class="size-7"/>
    </button>
    <button class="inline-flex items-center justify-center border-none bg-blue-600 px-10 py-4 rounded-lg hover:bg-blue-800 transition duration-300">
        <PlayStationSVG class="size-7"/>
    </button>
    <button class="inline-flex items-center justify-center border-none bg-blue-900 px-10 py-4 rounded-lg hover:bg-blue-950 transition duration-300">
        <SteamSVG class="size-7"/>
    </button>
</div>