---

import Layout from "../../layouts/Layout.astro"
import SimpleHeader from "../../components/Headers/SimpleHeader.astro"
import WithoutNameHeader from "../../components/Headers/WithoutNameHeader.astro"
import ModalCode from "../../components/ModalCode.astro"
import ModalButtonOpen from "../../components/ModalButtonOpen.astro"

---
<Layout 
	title='Headers - Componentes'
	description='Encuentra los mejores componentes personalizados para tu sitio web.'>
    <div class="pb-16">
        <h2 class="text-4xl text-pretty font-extrabold bg-clip-text bg-gradient-to-tr from-rose-50 via-rose-400 to-rose-600 text-transparent pb-4">Headers</h2>
        <p class="max-w-3xl text-lg text-white opacity-80 text-pretty pb-4">Utiliza estos componentes de header para incluir navegación y agregar dinamismo a tu sitio web. Ofrecemos una amplia variedad de estilos para elegir.</p>
    </div>

    <div class="pb-16">
        <div class="flex flex-row items-center justify-between gap-x-4 pb-8">
            <h3 class="text-2xl font-semibold text-white">Simple Header</h3>
            <ModalButtonOpen 
            idCode="simple-header"/>
        </div>
        <SimpleHeader />
        <ModalCode 
        idCode="simple-header"
        textCode=`<div>
<nav class="flex items-center justify-between p-6 lg:px-8 bg-gray-100 w-full border-b-4 border-gray-400">
    <div class="hidden lg:flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5 flex flex-row items-center gap-x-2">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Company Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-950">Company Name</span>
        </a>
    </div>
    <div class="lg:flex lg:gap-x-12">
        <ul class="inline-flex gap-x-4 font-bold text-md text-gray-950">
            <li class="border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300">
                <a href="#" class=" text-gray-950 ">Home</a>
            </li>
            <li class="border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300">
                <a href="#" class=" text-gray-950 ">About us</a>
            </li>
            <li class="border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300">
                <a href="#" class=" text-gray-950 ">Blog</a>
            </li>
            <li class="border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300">
                <a href="#" class=" text-gray-950 ">Contact</a>
            </li>
        </ul>
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end gap-x-2">
        <button class="border-2 border-transparent bg-gray-600 text-md font-medium text-gray-100 py-2 px-4 rounded-lg hover:border-gray-600 hover:bg-gray-300 hover:text-gray-950 
        transition duration-500">
            Log in
        </button>
    </div>
</nav>
</div>
`/>
    </div>

    <div class="pb-16">
        <div class="flex flex-row items-center justify-between gap-x-4 pb-8">
            <h3 class="text-2xl font-semibold text-white">Without Name Header</h3>
            <ModalButtonOpen 
            idCode="withoutName-header"/>
        </div>
        <WithoutNameHeader />
        <ModalCode 
        idCode="withoutName-header"
        textCode=`<div>
<nav class="flex items-center justify-between p-6 lg:px-8 bg-gray-100 w-full border-b-4 border-gray-400">
    <div class="hidden lg:flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5 flex flex-row items-center gap-x-2">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Company Logo">
        </a>
    </div>
    <div class="lg:flex lg:gap-x-12">
        <ul class="inline-flex gap-x-4 font-bold text-md text-gray-950">
            <li class="border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300">
                <a href="#" class=" text-gray-950 ">Home</a>
            </li>
            <li class="border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300">
                <a href="#" class=" text-gray-950 ">About us</a>
            </li>
            <li class="border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300">
                <a href="#" class=" text-gray-950 ">Blog</a>
            </li>
            <li class="border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300">
                <a href="#" class=" text-gray-950 ">Contact</a>
            </li>
        </ul>
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end gap-x-2">
        <button class="border-2 border-transparent bg-gray-600 text-md font-medium text-gray-100 py-2 px-4 rounded-lg hover:border-gray-600 hover:bg-gray-300 hover:text-gray-950 
        transition duration-500">
            Log in
        </button>
        <button class="border-2 border-gray-600 bg-gray-300 text-md font-medium text-gray-950 py-2 px-4 rounded-lg hover:border-transparent hover:bg-gray-600 hover:text-gray-100 
        transition duration-500">
            Sign Up
        </button>
    </div>
</nav>
</div>
`
    </div>
</Layout>