---
import BadgeDefault from '../../components/Badges/BadgeDefault.astro';
import BadgeVariant from '../../components/Badges/BadgeVariant.astro';
import BadgeSize from '../../components/Badges/BadgeSize.astro';
import BadgeColor from '../../components/Badges/BadgeColor.astro';
import BadgeRounded from '../../components/Badges/BadgeRounded.astro';
import BadgeCode from '../../components/Badges/BadgeCode.astro';

import Span from '../SpanColor.astro';
---
    <article>
        <div class="space-y-6 mb-12">
            <div class="space-y-4">
                <h2 class="text-white text-2xl font-semibold">Uso básico</h2>
                <p class="text-gray-300 font-medium text-md text-pretty">Para utilizar el componente, simplemente debes definir el atributo <Span text='text'/></p>
            </div>
            <BadgeDefault />
        </div>
        
        <div class="space-y-8 mb-12">
            <div>
                <p class="text-gray-300 font-medium text-md text-pretty">El código para <Span text='Badge'/> es el siguiente:</p>
            </div>
            <BadgeCode />
        </div>
        
        <!-- VARIANTES -->
        <div class="space-y-6 mb-12">
            <div class="space-y-4">
                <h2 class="text-white text-2xl font-semibold">Variantes</h2>
                <p class="text-gray-300 font-medium text-md text-pretty">Para cambiar el estilo del componente, se puede utilizar el atributo <Span text='variant'/>. Este atributo acepta cuatro valores: <Span text='default'/>, <Span text='icon'/> y <Span text='bordered'/>.</p>
            </div>
            <BadgeVariant />
        </div>
        
        <!-- TAMAÑOS -->
        <div class="space-y-6 mb-12">
            <div class="space-y-4">
                <h2 class="text-white text-2xl font-semibold">Tamaños</h2>
                <p class="text-gray-300 font-medium text-md text-pretty">Para cambiar el tamaño del componente, se puede utilizar el atributo <Span text='size'/>. Este atributo acepta tres valores: <Span text='sm'/>, <Span text='md'/> y <Span text='lg'/>.</p>
            </div>
            <BadgeSize />
        </div>
        
        <!-- COLOR -->
        <div class="space-y-6 mb-12">
            <div class="space-y-4">
                <h2 class="text-white text-2xl font-semibold">Color</h2>
                <p class="text-gray-300 font-medium text-md text-pretty">Para cambiar el color del componente, se puede utilizar el atributo <Span text='color'/>. Este atributo acepta seis valores: <Span text='default'/>, <Span text='primary'/>, <Span text='secondary'/>, <Span text='success'/>, <Span text='warning'/> y <Span text='danger'/>.</p>
            </div>
            <BadgeColor />
        </div>
        
        <!-- ROUNDED -->
        <div class="space-y-6 mb-12">
            <div class="space-y-4">
                <h2 class="text-white text-2xl font-semibold">Rounded</h2>
                <p class="text-gray-300 font-medium text-md text-pretty">Para cambiar el redondeado del componente, se puede utilizar el atributo <Span text='rounded'/>. Este atributo acepta cuatro valores: <Span text='none'/>, <Span text='sm'/>, <Span text='md'/>, <Span text='lg'/> y <Span text='full'/>.</p>
            </div>
            <BadgeRounded />
        </div>
    </article>