---
import AstroSVG from "../icons/AstroSVG.astro";
import TailwindcssSVG from "../icons/TailwindcssSVG.astro";
import PythonSVG from "../icons/PythonSVG.astro";
import CSVG from "../icons/CSVG.astro";
import JavaScriptSVG from "../icons/JavaScriptSVG.astro";
import HTMLSVG from "../icons/HTMLSVG.astro";
import CSSSVG from "../icons/CSSSVG.astro";
---


<div class="w-full grid grid-cols-3 grid-rows-2 md:flex md:flex-row gap-2">
    <span class="inline-flex items-center justify-center text-white gap-x-1 rounded-2xl text-xs font-semibold border border-orange-200 bg-orange-100/30 py-1 px-2"><AstroSVG class="size-4"/>Astro</span>
    <span class="inline-flex items-center justify-center text-white gap-x-1 rounded-2xl text-xs font-semibold border border-cyan-200 bg-cyan-100/30 py-1 px-2"><TailwindcssSVG class="size-4"/>Tailwind CSS</span>
    <span class="inline-flex items-center justify-center text-white gap-x-1 rounded-2xl text-xs font-semibold border border-yellow-200 bg-yellow-100/30 py-1 px-2"><PythonSVG class="size-4"/>Python</span>
    <span class="inline-flex items-center justify-center text-white gap-x-1 rounded-2xl text-xs font-semibold border border-blue-200 bg-blue-100/30 py-1 px-2"><CSVG class="size-4"/>C++</span>
    <span class="inline-flex items-center justify-center text-white gap-x-1 rounded-2xl text-xs font-semibold border border-yellow-200 bg-yellow-200/30 py-1 px-2"><JavaScriptSVG class="size-4"/>JavaScript</span>
    <span class="inline-flex items-center justify-center text-white gap-x-1 rounded-2xl text-xs font-semibold border border-orange-200 bg-orange-200/30 py-1 px-2"><HTMLSVG class="size-4"/>HTML 5</span>
    <span class="inline-flex items-center justify-center text-white gap-x-1 rounded-2xl text-xs font-semibold border border-purple-200 bg-purple-100/30 py-1 px-2"><CSSSVG class="size-4"/>CSS</span>
</div>