---
import Layout from '../layouts/Layout.astro';
---
<Layout 
	title='404 not found'
	description='Error. Page not found.'>
	<div class="flex flex-col justify-center items-center">
		<h1 class="text-9xl text-white font-extrabold text-center">404</h1>
		<p class="text-white text-xl opacity-80 font-semibold">Page not found :(</p>
	</div>
</Layout>