---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog - SunUI"
description="">
    <section class="flex flex-col justify-center items-center">
        <div>
            <h1 class="text-2xl md:text-4xl text-white font-extrabold mb-2">Introducción</h1>
            <p class="text-gray-400 text-lg font-medium mb-6">¡Bienvenido a la documentación de SunUI!</p>
            <div class="mb-8">
                <img src="/components-images/logo.webp" alt="Imágen ilustrativa del logo de SunUI" class="w-[840px] h-[600px] border-none object-fit rounded-xl shadow-lg">
            </div>
            <h3 class="text-2xl text-white font-semibold mb-2">¿Qué es SunUI?</h3>
            <h3 class="text-2xl text-white font-semibold mb-2">Cómo funciona SunUI?</h3>
            <h3 class="text-2xl text-white font-semibold mb-2">¿Qué es Tailwind CSS?</h3> <!--LINK A DOCS A INSTALARLO -->
        </div>
    </section>
</Layout>