---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
---

<Layout 
	title='ToolSun - Catálogo de componentes de Tailwind CSS personalizados'
	description='Encuentra los mejores componentes personalizados para tu sitio web.'>
	<main>
		<SectionContainer class="py-32 lg:pt-44 lg:pb-32">
			<Hero />
		</SectionContainer>
		<SectionContainer class="py-32 lg:py-52">
			<About />
		</SectionContainer>
	</main>
</Layout>
