---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Avatar from '../components/Avatar.astro';
import UpdateMessage from '../components/UpdateMessage.astro';

import ArrowIcon from '../components/icons/ArrowIcon.astro';
---
<Layout 
	title='ToolSun - Updates'
	description='Enterate de todas las novedades, próximmas actualizaciones y más.'>
	<main>
        <SectionContainer class="py-44">
            <article class="flex flex-row space-x-10">
				<div class="flex flex-col max-w-xl">
					<p class="text-white opacity-80 pb-4">
						<time datetime="2024-12-09">Diciembre 16, 2024</time>
					</p>
					<h3 class="text-4xl text-pretty font-extrabold bg-clip-text bg-gradient-to-br from-yellow-50 via-yellow-200 to-yellow-400 text-transparent pb-4">
						¡Lanzamiento!
					</h3>
					<p class="text-lg text-white opacity-80 text-pretty pb-4">
						¡ToolSun está aquí! Ahora podrás diseñar sitios web únicos y atractivos con nuestros componentes personalizados basados en <a href="https://tailwindcss.com/" target="_blank" rel="noopenner noreferrer" class="underline">Tailwind CSS</a>. Descubre nuestro catálogo y lleva el diseño de tu página al siguiente nivel. 
					</p>
					<a href="/Components" class="inline-flex items-center text-yellow-100 hover:text-yellow-200 transition duration-300 font-semibold gap-x-2">Ver más <ArrowIcon class="size-4"/></a>
					<hr class="my-10 border-gray-700">
					<Avatar 
					nombre="Laballos Brandon"
					link="https://www.linkedin.com/in/brandonlaballos/"/>
				</div>
				<div class="flex flex-col space-y-5">
					<UpdateMessage 
					title="Próximamente"
					text="¡Seguimos creciendo! Con el tiempo, vamos a expandir nuestro catálogo de elementos para ofrecerte una amplia variedad de opciones y posibilidades para tus diseños."
					
					author="Laballos Brandon"
					link="https://www.linkedin.com/in/brandonlaballos/"/>

					<hr class="my-10 border-gray-700">

					<UpdateMessage 
					title="Próximamente"
					text="¡Corrección de errores! Estaremos pendientes a cualquier inconveniente que pueda ocurrir para solucionarlo rápidamente y ofrecer la mejor experiencia posible a nuestros usuarios."
					
					author="Laballos Brandon"
					link="https://www.linkedin.com/in/brandonlaballos/"/>
				</div>
			</article>
        </SectionContainer>
	</main>
</Layout>