---
import GitHubIcon from "./icons/GitHubIcon.astro"
import LinkIcon from "./icons/LinkIcon.astro"
---

<a href="#" class="w-1/5 flex flex-col group">
    <span class="inline-flex items-center gap-x-2 text-md text-white font-bold pb-2">
        <GitHubIcon class="size-6"/>
        GitHub
        <LinkIcon class="size-4 font-normal group-hover:scale-110 transition duration-200"/>
    </span>
    <p class="text-white text-md text-pretty opacity-70">
        Para reportar errores, compartir ideas o contribuir al proyecto.
    </p>
</a>