---
import GitHubIcon from "./icons/GitHubIcon.astro"
import LinkIcon from "./icons/LinkIcon.astro"
---

<a href="https://github.com/blaballos/ToolSun" target="_blank" rel="noopener noreferrer" class="w-1/3 lg:w-1/5 flex flex-col group">
    <span class="flex items-center gap-x-2 text-md text-white font-semibold pb-2">
        <GitHubIcon class="size-5 lg:size-6"/>
        GitHub
        <LinkIcon class="size-4 font-normal group-hover:scale-110 transition duration-200"/>
    </span>
    <p class="text-gray-400 text-sm lg:text-md text-pretty">
        Para reportar errores, compartir ideas o contribuir al proyecto.
    </p>
</a>