---
import CommunityCard from "./CommunityCard.astro"
---

<footer class="bg-gradient-to-t from-gray-950 via-gray-950 to-transparent">
    <div class="w-full md:max-w-screen-xl md:mx-auto p-2 md:py-8">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-4xl lg:text-6xl text-white font-extrabold mb-2">Comunidad</h2>
            <p class="text-lg lg:text-xl text-gray-400 mb-6 lg:mb-8">¡Únete a nuestra comunidad para mantenerte al tanto de nuestras próximas ideas y novedaedes!</p>
            <CommunityCard />
        </div>
        <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8"/>
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400 pb-6">Creado por <a href="https://github.com/blaballos" rel="noopener noreferrer" target="_blank" class="text-blue-300 hover:underline">Blaballos</a> con 💙. Basado en <a href="https://www.heroui.com/" rel="noopener noreferrer" target="_blank" class="hover:underline">HeroUI</a> y <a href="https://flowbite.com/" rel="noopener noreferrer" target="_blank" class="hover:underline">Flowbite</a>.</span>
    </div>
</footer>

