<article class="max-w-2xl p-4">
    <div class="flex flex-col items-start">
        <span class="text-sm md:text-md font-semibold bg-gradient-to-tr from-green-300 via-green-400 to-green-500 bg-clip-text text-transparent pb-4 md:pb-6">Instalación</span>
        <h1 class="text-2xl md:text-4xl text-white font-extrabold pb-2 md:pb-4">¿Por qué instalar Tailwind CSS?</h1>
        <p class="text-lg md:text-xl text-white font-semibold opacity-70 text-pretty">Recomendamos instalar Tailwind CSS para garantizar una experiencia óptima al utilizar los componentes. A continuación se presentan los pasos a seguir para llevar a cabo su instalación de manera simple y rápida.</p>
    </div>
</article>