---
import ArrowIcon from "./icons/ArrowIcon.astro"
---

<div class="flex flex-col justify-center items-center">
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-white text-4xl lg:text-6xl text-pretty text-center font-extrabold pb-4 lg:pb-6">
            Crea sitios web <span class="bg-gradient-to-tr from-blue-100 via-blue-300 to-blue-500 bg-clip-text text-transparent">increíbles</span> en poco tiempo con nuestros componentes personalizados de Tailwind CSS
        </h1>
        <p class="text-white text-center text-lg lg:text-xl opacity-70 text-pretty pb-4 lg-pb-6">
            Explora nuestra documentación y empieza a crear diseños innovadores.
        </p>
    </div>
    <a href="/Docs" class="inline-flex justify-center items-center bg-blue-500 hover:bg-blue-700 transition duration-300 text-white text-sm lg:text-md font-semibold py-2 px-4 gap-x-1 rounded-full">
        Empezar
        <ArrowIcon class="size-4 lg:size-5"/>
    </a>
</div>