---
import ArrowIcon from "./icons/ArrowIcon.astro"
---

<div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-6xl text-pretty text-center font-extrabold pb-6">
        Crea sitios web <span class="bg-gradient-to-tr from-blue-100 via-blue-300 to-blue-500 bg-clip-text text-transparent">increíbles</span> en poco tiempo con nuestros componentes personalizados de Tailwind CSS
    </h1>
    <a href="/Docs" class="inline-flex justify-center items-center bg-blue-500 hover:bg-blue-600 transition duration-200 text-white text-md font-semibold py-2 px-3 gap-x-1 rounded-full">
        Comenzar
        <ArrowIcon class="size-5"/>
    </a>
</div>