---
import InstalationLine from "./InstalationLine.astro"
---

<article class="w-full p-4">
    <div class="max-w-2xl">
        <h2 class="text-white text-lg md:text-xl font-semibold pb-6">Instalación</h2>
        <p class="text-white text-lg font-semibold opacity-70 pb-16">La forma más rápida y simple para la instalación de Talwind CSS desde cero es con la herramienta <a href="https://tailwindcss.com/docs/installation" rel="noopener noreferrer" target="_blank" class="underline hover:text-green-400 transition duration-300">Tailwind CLI</a>.</p>
    </div>
    <InstalationLine />
    <p class="text-white text-md lg:text-lg font-semibold opacity-70 pt-10 lg:pt-16">Puedes visitar la <a href="https://tailwindcss.com/docs/installation" rel="noopener noreferrer" target="_blank" class="underline hover:text-green-400 transition duration-300">documentación oficial de Tailwind CSS</a> para más información.</p>
</article>