---
const { idCode } = Astro.props

import CodeIcon from "./icons/CodeIcon.astro";
---

<button class="inline-flex items-center justify-center gap-x-2 px-4 py-2 bg-white text-md font-bold text-black rounded-md cursor-pointer hover:text-[#FACC14] hover:bg-[#F5F5F5] transition duration-300" onclick={`document.getElementById('${idCode}').checked = true`}>
      Code <CodeIcon class="size-6"/>
    </button>