---
import XIcon from "../icons/XIcon.astro"
import InstagramIcon from "../icons/InstagramIcon.astro"
import LinkedInIcon from "../icons/LinkedInIcon.astro"
import GitHubIcon from "../icons/GitHubIcon.astro"
---

<div>
    <footer class="bg-gray-50 w-full max-w-screen-xl mx-auto p-8 rounded-md">
        <div class="flex flex-row justify-between items-center">
            <span class="font-medium text-black">
                © 2024 <a href="#" class="hover:underline">Company</a>. Todos los derechos reservados.
            </span>
            <ul class="inline-flex gap-x-4 text-black">
                <li><a href="#"><XIcon class="size-6 hover:scale-110 transition delay-100"/></a></li>
                <li><a href="#"><InstagramIcon class="size-6 hover:scale-110 transition delay-100"/></a></li>
                <li><a href="#"><LinkedInIcon class="size-6 hover:scale-110 transition delay-100"/></a></li>
                <li><a href="#"><GitHubIcon class="size-6 hover:scale-110 transition delay-100"/></a></li>
            </ul>
        </div>
    </footer>
</div>