---
//FONTS
import '@fontsource-variable/onest';

import Header from "../components/Header.astro"
import Footer from '../components/Footer.astro';

import { ClientRouter } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
	class: string;
	showFooter: boolean;
}

const { title, description, class:className, showFooter = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/components-images/logo.webp" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div class="fixed left-0 top-0 -z-10 h-full w-full">
			<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"></div></div>
		</div>
		<Header />
		<main class=`${className}`>
			<slot />
		</main>
		{showFooter && <Footer />}
	</body>
</html>

<style is:global>
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		font-family: 'Onest Variable', sans-serif;
		background: #13151a;
	}
</style>